/*		*/
.login a {
	max-width: 180px;
	width: inherit; 
}
#myModal_reg{
  position: fixed;
}
/*	forms	*/
input[type="password"] {
	float: none;
}
/*	breadcrumbs	*/
/*.breadcrams {
    margin-bottom: 30px;
}*/

.breadcrams span {
	font-weight: bold;
	font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}

/* more */
a.disabled {
	opacity: 0.3;
    pointer-events: none;
    cursor: default;
}