body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}

.toggleMenu {
    display:  none;
    background: #43095d;
    padding: 10px 15px;
    color: #fff;
}
.top_menu{
    background-color: #43095d;
}
.nav {
    list-style: none;
   text-align: center;
    background-color: #43095d;
    /*padding: 11px 0 10px;*/
    font-family: 'Tahoma',sans-serif;
    *zoom: 1;
}
.top_menu_respons{
    position: relative;
    z-index: 999999999;
}
.material-menu-wrapper.material-menu-view-mobile{
    width: 100%;
}
.nav:before,
.nav:after {
    content: " ";
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 5px 15px;
    color:#fff;
}
.nav li {
    position: relative;

}
.nav > li{
    margin-top: 10px;
}
.nav > li {
    float: right;
    /*border-top: 1px solid #104336;*/
}
.nav > li:first-child{
    float: left;
    margin-top: 0;
}
.nav > li > .parent {
    /*background-image: url("../images/downArrow.png");*/
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
    color: #ffffff;
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
    width: 175px;
}
.nav > li.hover > ul {
    left: -90px;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #43095d;
    position: relative;
    z-index:100;
    /*border-top: 1px solid #175e4c;*/
    color: #ffffff;
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.nav li li li a {
    background:#43095d;
    z-index:200;
    /*border-top: 1px solid #1d7a62;*/
}
.material-menu-wrapper_group{
    display: table;
    height: 45px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
}
.material-menu-wrapper_group:last-child{
    border-bottom: 1px solid #ccc;;
}
.material-menu-wrapper_group .material-menu_img,.material-menu-wrapper_group .material-menu_right{
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

.material-menu-wrapper_group .material-menu_right{
    text-align: left;
}
.material-menu-wrapper_group .material-menu_right a{
    color: #fff;
    font-family: 'OpenSansCondBold',sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 45px;
    width: 104px;
    font-size: 15px;
}
.material-menu-view-mobile{
    /*position: fixed;*/
    top: 60px;
    z-index: 999999;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
}
/** Button styling */
.material-menu-button {
    cursor: pointer;
    display:block;
    width:45px;
    height:45px;
    padding:10px 10px 0 10px;
    margin-top: 8px;
    /*background-color:#000;*/
}
.material-menu-button span {
    display:block;
    width:100%;
    height:2px;
    margin-bottom:8px;
    background-color:#03c4eb;
}

.material-menu-view-mobile {
    background-color:#03c4eb;
    -webkit-box-shadow:40px 0 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:40px 0 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow:40px 0 30px 0 rgba(0, 0, 0, 0.2);
}

.material-menu-titlebar {
    -webkit-box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.top_menu_respons{
    display:none;
}


/*@media screen and (max-width: 1023px){*/
    /*.top_menu_respons{*/
        /*display:block;*/
    /*}*/
/*}*/
@media screen and (max-width: 992px) {
    .top_menu_respons{
        display:block;
    }
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        /*background-image: url("../images/downArrow.png");*/
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }



}
@media screen and (max-width: 639px) and (min-width: 240px){
    .slider-container {
        margin: 0;
        padding: 0;
    }
}
