@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),
    url('../fonts/RalewayRegular.woff2') format('woff2'),
    url('../fonts/RalewayRegular.woff') format('woff'),
    url('../fonts/RalewayRegular.ttf') format('truetype'),
    url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
    url('../fonts/RalewayBold.woff2') format('woff2'),
    url('../fonts/RalewayBold.woff') format('woff'),
    url('../fonts/RalewayBold.ttf') format('truetype'),
    url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}

.logo{
    width: 150px;
    height: 100px;
    position: relative;
    overflow: hidden;
    float: left;
}
.logo img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.header{
    padding-top: 10px;
}
.title{
    padding: 20px 0;
    text-align: center;
    color: #000;
    font-size: 40px;
    font-family: 'RalewayBold',sans-serif;
}
.header .title{
    font-family: 'RalewayRegular',sans-serif;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8px;
    float: left;
}

.header_right{
    float: right;
    padding-top: 8px;
}

.header_log .title{
    font-family: 'RalewayRegular',sans-serif;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    float: left;
}
.header_log .header_right .language{
    margin-top: 10px;
}
.upgrade{
    float: left;
}
.upgrade .upgrade_title div{
    font-family: 'RalewayBold',sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size:14px;
    padding-top: 3px;
}
.upgrade .upgrade_title div span{
    text-transform: none;
    display: inline-block;
    font-family: 'RalewayRegular',sans-serif;
}
.setting_group{
    float: left;
    padding-left: 10px;
}
.setting{
   float: left;
}
.setting .user_set{
    display: inline-block;
}
.setting .user_set a{
    background: url("../images/shesternya.png")no-repeat;
    width: 12px;
    height: 12px;
    display: block;
}
.setting .message{
    padding-left: 10px;
    display: inline-block;
}
.setting .message div{
    background: url("../images/dzvinok.png")no-repeat left;
    display: inline-block;
    padding-left: 13px;
}
.setting .message div span{
    display: inline-block;
    color: #cc0000;
    font-family: 'RalewayBold',sans-serif;
    font-size: 16px;
}
.use_menu{

}
.use_menu ul{
    margin: 0;
    padding: 0;
}
.use_menu ul li{
    list-style: none;
    float: left;
    display: block;
}
.use_menu ul li:first-child:after{
    content: "|";
    color: #a7a7a7;
    padding: 0 5px;
    font-size: 13px;

}
.upgrade .upgrade_title div span a{
    display: inline-block;
    background: url("../images/icon_header.jpg")no-repeat right;
   padding-right: 13px;
}
.language,.login{
    float: left;
}
.language > .dropdown button{
    border: none;
    outline: none;
    border-radius: 5px;
    width: 80px;
    background:#03c4eb url("../images/flag_1.png")no-repeat 10px center;
    text-transform: uppercase;
}
.language > .dropdown button:hover{

    outline: none;
    border-radius: 5px;
    width: 80px;
    background: #fff url("../images/flag.png")no-repeat 10px center!important;
    text-transform: uppercase;
    color: #333333!important;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
    outline: none;
    border-radius: 5px;
    width: 80px;
    background: #fff url("../images/flag.png")no-repeat 10px center!important;
    text-transform: uppercase;
    color: #333333!important;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.language > .dropdown button:after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 8px;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
}
.login a{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    width: 80px;
    color: #fff;
    padding: 6px 12px;
    background: #03c4eb;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.header_right > .language > .dropdown > .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 80px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    text-transform: uppercase;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color:transparent;
    border-color: transparent;
}
.header_top_menu ul{
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;

}
.header_top_menu ul li{
    list-style: none;
    display: block;
    float: left;
    position:relative;
    left:-50%;
}

.header_top_menu ul li a{
    color: #5e5e5e;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    text-decoration: underline;
}
.header_top_menu ul li:after{
    content:"|";
    color: #5e5e5e;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    margin: 0 20px;
}
.header_top_menu ul li:first-child:after{
    content: "";
}
.header_top_menu ul li:last-child:after{
    content:"|";
    color: #5e5e5e;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    margin: 0 0 0 20px;
}
.header_top_menu ul li:first-child{
    text-transform: uppercase;
}
.header_top_menu ul .star:after{
    content: "";
}
.header_top_menu ul .cont:before{
    content:"|";
    color: #5e5e5e;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    margin: 0 20px;
}
.header_top_menu {
    position: relative;
    height:30px;
    margin:20px 0;
    overflow:hidden;
}
.star {
    width: 32px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    background:url('../images/star_1.png') no-repeat -146px -75px;
}
.star.on {
    background:url('../images/star_1.png') no-repeat -82px -75px;
}
.searh{
   text-align: center;
    margin-top: 13px;
    margin-bottom: 20px;
}
.searh input{
    width: 80%;
    border-radius: 5px;
    height: 30px;
    outline: none;
    border: #333 1px solid;
    padding: 5px;
}
.searh button{
    width: 100px;
    height: 30px;
    background:#03c4eb;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}
.reklama{
    text-align: center;
}
.baner{
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin:10px;
}
.baner img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.features .title{
    text-align: center;
    color: #000;
    font-size: 40px;
    font-family: 'RalewayBold',sans-serif;
}
.features_block_left{
    border: #9b9b9b 3px solid;
    border-radius: 20px;
    width: 40%;
    height: 200px;
    position: relative;
    float: left;
}
.features_block_right{
    border: #9b9b9b 3px solid;
    border-radius: 20px;
    width: 40%;
    height: 200px;
    position: relative;
    float: right;
}
.features_block_left .features_block_left_img,.features_block_right .features_block_right_img{
    height: 100px;
    position: relative;
    margin:20px auto 0 auto;
}
.features_block_left .features_block_left_img .images,.features_block_right .features_block_right_img .images{
    overflow: hidden;
    display: table;
    margin: auto;

}
.features_block_left .images .img,.features_block_right .features_block_right_img .images .img{
    width: 100px;
    height: 110px;
    overflow: hidden;
    position: relative;
    display: table-cell;
    vertical-align: middle;

}
.features_block_left .images .img img,.features_block_right .images .img img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.images_title{
    color: #000;
    font-size: 30px;
    font-family: 'RalewayBold',sans-serif;
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
}
.features_block_left .teazer,.features_block_right .teazer{
    color: #03c4eb;
    font-size: 30px;
    font-family: 'RalewayRegular',sans-serif;
    text-align: center;
    margin-top: 15px;
}
.images_spisok{
    text-align: right;
    position: absolute;
    right: 10px;
    top: 30%;
}
.images_spisok p{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
    font-family: 'RalewayRegular',sans-serif;
}
.why .title{
    color: #000;
    font-size: 30px;
    font-family: 'RalewayBold',sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.why ul li p{
    padding-left: 45px;
}
.why ul li {
    list-style: none;
    display: block;
    color: #000;
    font-size: 20px;
    font-family: 'RalewayBold',sans-serif;
    position: relative;
}
.why ul li:before{
    content:"";
    background-image: url(../images/galochka.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 38px;
    height: 30px;
}
.why_left{
    float: left;
}
.why_right{
    float: right;
}
.why_right li:last-child{
    list-style: none;
    display: block;
    color: #cc0000;
    font-size: 20px;
}
.info{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
}
.info_container{
    position: relative;
    max-width: 1200px;
    margin: 25px auto;
}
.info_left,.info_middle,.info_right{
    float: left;
    margin:0 65px;
}


.info div p{
    list-style: none;
    padding-left: 45px;
    color: #9b9b9b;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    margin: 0;
}
.info .info_left div:before{
    content: "";
    background-image: url("../images/img_3.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 31px;
    height: 30px;
 }
.info .info_middle div:before{
    content:"";
    background-image: url("../images/img_4.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 31px;
    height: 30px;
}
.info .info_right div:before{
    content: "";
    background-image: url("../images/img_5.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
}
.footer{
    background: #111111;
    padding: 25px 0;
}
.footer ul{
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.footer ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
}
.footer_left .title,.footer_right .title{
    color: #fff;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    text-align: center;
}
.subscribe{
    text-align: center;
}
.subscribe form input{
    background: #333333;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.subscribe form button{
    background: #03c4eb;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    float: left;
}
.footer_right{
    text-align: center;
}
.footer_right .soseti a{
   margin: 5px;
}
.favorit{
    height: 160px;
    width: 170px;
    overflow-y: auto;
    float: left;
    border: 1px solid #000000;
    padding: 10px;
    display: none;
}

.element{
    display: block;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.element a{
    float: left;
    display: block;
    width: 85%;
    overflow: hidden;
    height: 18px;
}

.delete{
    background: url("../images/delete.png")no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
}

#addfav{
    width: 180px;
    height: 160px;
    border: 1px #000 solid;
    margin-left: 15px;
    color: #000;
    font-size: 20px;
    font-family: 'RalewayRegular',sans-serif;
    background: #f6f6f6;
}
#myModal_1{
    width: 300px;
    height: 94px;
    position: relative;
    top: -5px;
    display: none;
    overflow-y:hidden;
}
#myModal_1 .modal-dialog .modal-content{
    max-width: 300px;
}
#myModal_1 .modal-dialog .modal-content .modal-header{
  display: none;
}
#myModal_1 .modal-dialog .modal-content .modal-body .close {
    position: absolute;
    right: 5px;
    top: 0;
}
.modal-footer{
    display: none;
}
.favorit_add #input_fav{
    width: 70%;
    background: #f9f9f9;
    border: 1px solid #cdcdcd;
    padding: 5px;
}
.favorit_add  #submitfav{
    width: 70px;
    padding: 5px;
    background: #03c4eb;
    color: #fff;
    border: none;
    outline: none;
}
/*_______________________________________________________________________________________________________________________*/

.main{
    margin-top: 25px;
}
.main .favorit{
    width: 100%;
    height: 135px;
    margin-bottom: 15px;
}
.main .favorit .element a {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
    height: 18px;
}
.sidebar{
    margin-top: 25px;
}
.sidebar .reklama{
    margin: 0;
}
.sidebar .reklama .baner{
    margin: 0;
}
.breadcrams{
    margin-bottom: 50px;
}
.breadcrams a,.breadcrams span{
    display: block;
    float: left;
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
.breadcrams a:after{
    content:">";
    width: 13px;
    height: 18px;
    margin: 0 10px;
   display: inline-block;
}
.breadcrams a:last-child:after{
    display: none;
}
.results_header_top{
    margin-bottom: 10px;
}
.results_header .results_header_left a{
    display: block;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
.results_header .results_header_left a:first-child{
    text-decoration: underline;
}
.results_header_left{
    float: left;
 }

.results_header .results_header_left a:last-child{
    color: #14b074;
    display: block;
    text-decoration: none;
}
.results_header_right{
    float: right;
}
.results_header_right ul li{
    float: left;
    display: block;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
.results_header_right ul li a{
    display: block;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    padding: 5px;
    text-decoration: underline;
}
.results_header_bottom .title{
    color: #6c6666;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    padding: 0;
}
.results_header_bottom_menu ul li{
    list-style:none;
    float: left;
    display: block;
}
.results_header_bottom_menu ul li a{
    text-decoration: underline;
    font-family: 'RalewayBold',sans-serif;
}
.results_header_bottom_menu ul li:after{
    content:"|";
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    margin: 0 10px;
}
.results_header_bottom_menu ul li:last-child:after{
    display: none;
}
.like{
    margin-top: 10px;
}
.like_rank{
    float: left;
    display: block;
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    margin: 0 10px 0 0;
}
.like_rank .title,.results_header_bottom .title{
    text-align: left;
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
.like_rank:first-child{
    margin-left: 0;
}
.like_top,.like_bottom{
    display: block;
}
.str{
    text-align: center;
}
.str .title{
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    padding-bottom: 0;
}
/*_____________________________________modal_reg___________________________________________________________*/

#myModal_reg > .modal-dialog > .modal-content{
    position: relative;
}
#myModal_reg > .modal-dialog > .modal-content >.close{
    position: absolute;
    top: 5px;
    right: 10px;

}
#myModal_reg > .modal-dialog > .modal-content > .modal-header{
    border: none;
    padding: 0;
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
#myModal_reg input,#myModal_reg select{
    display: block;
    width: 100%;
    margin: 10px 0;
/*    height: 30px;*/
    padding: 5px;
}
#myModal_reg select{
    font-family: 'RalewayBold',sans-serif;
    font-size: 12px;
}
#myModal_reg > .modal-dialog > .modal-content{
    padding: 15px 100px ;
    background: #b6d7a8;
}
#myModal_reg > .modal-dialog > .modal-content > .modal-body{
    padding: 0;
}
#myModal_reg > .modal-dialog > .modal-content > .modal-body .register{
    width: 100%;
    display: block;
    padding: 5px;
    background: #009e0f;
    border: #000 1px solid;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
#myModal_reg > .modal-dialog > .modal-content .modal-footer{
    display: block;
    text-align: left;
    padding: 0;
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    margin-top: 10px;
    border: none;
    position: relative;
}
#myModal_reg > .modal-dialog > .modal-content .modal-footer a{
    text-decoration: underline;
}
.capcha{
    width: 100%;
    height: 100px;
    text-align: center;
}
#myModal_reg{
    position: relative;
}
#myModal_reg .modal-footer_bottom .title{
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-family: 'RalewayBold',sans-serif;
    text-transform: uppercase;
}
#myModal_reg .modal-footer_bottom span{
    color: #fff;
    font-size: 17px;
    text-transform: none;
    font-family: 'RalewayRegular',sans-serif;
}
#myModal_reg > .modal-dialog .modal-footer_bottom input{
    float: left;
    display: block;
    width: 40%;
    padding: 10px;
    height: 40px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    border: none;
    outline: none;
}
#myModal_reg > .modal-dialog .modal-footer_bottom button{
    float: left;
    display: block;
    width: 15%;
    height: 40px;
    background: #489800;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 5px;
}
/*_________________________________________________end modal_reg_________________________________________________*/

#myModal_add_site .modal-dialog .modal-content .modal-header{
    border: none;
    color: #000;
    font-size: 20px;
    font-family: 'RalewayBold',sans-serif;
    text-align: center;
    padding: 0 30px;
}
.myModal_add_site{
    overflow: hidden;
}
#myModal_add_site .modal-dialog .modal-content .modal-header .myModal_add_site div label{
    color: #000;
    font-size: 17px;
    text-transform: none;
    font-family: 'RalewayRegular',sans-serif;
    float: left;
    margin-top: 5px;
}
#myModal_add_site .modal-dialog .modal-content .modal-header .myModal_add_site div input{
    font-size: 18px;
    text-transform: none;
    font-family: 'RalewayRegular',sans-serif;
    padding: 5px;
    width: 70%;
    float: right;
    margin: 10px 0;
}
#myModal_add_site .modal-dialog .modal-content .modal-header .add_page a{
    text-align: left;
    text-decoration: underline;
    font-family: 'RalewayRegular',sans-serif;
    font-size: 17px;
    display: block;
}
#myModal_add_site .modal-dialog .modal-content .modal-body form .form-group{
    overflow: hidden;
}
#myModal_add_site .modal-dialog .modal-content .modal-body form .form-group label{
    float: left;
    margin-top: 5px;
    font-size: 17px;
    font-family: 'RalewayBold',sans-serif;
}
#myModal_add_site .modal-dialog .modal-content .modal-body form .form-group label span{
    color: #990000;
}
#myModal_add_site .modal-dialog .modal-content .modal-body form .form-group select{
    float: right;
    width: 70%;
}
.myModal_social_network{
    padding-left: 100px;
}
.myModal_social_network label{
   float: left;
    display: block;
    margin-top: 10px;
    width: 80px;
}
.myModal_social_network input{
    float: left;
    display: block;
    margin-top: 10px;
    width: 80%;

}
.social_change{
    padding-left: 20px;
    background: url("../images/minus.png")no-repeat;
}
.tariff .title,.tariff_teazer{
    font-size: 17px;
    font-family: 'RalewayBold',sans-serif;
}
.tariff_teazer{
    margin-bottom: 15px;
}

.tariff_title{
    text-transform: uppercase;
    text-align: left;
}
.tariff_title input{
    float: left;
}
input{
    border: 1px solid #000;
}
.shows_img,.privat_img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.shows_img img,.privat_img img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.shows_group,.shows_image{
    display: inline-block;
}
input,label{
    float: left;
}
.tariff_soseti{
    text-align: left;
}
.tariff_soseti div {
    margin: 0 2px;
    display: inline-block;
}
.shows{
    text-align: center;
}
.tariff_left,.tariff_right{
    text-align: center;
    max-width: 290px;
    overflow: hidden;
}
.tariff_left{
    border-right: 1px solid #000000;
    float: left;
}
label{
    margin-left: 2px;
}
.soseti_like_group{
    overflow: hidden;
}
.like_image{
    float: left;
    display: block;
}
.like_img{
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
    float: left;
}
.like_img img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}

.soseti_like_group_right{
    float: left;
    display: block;
}
.tariff_bottom div{
    font-size: 14px;
    font-family: 'RalewayBold',sans-serif;
    color: #000;
    text-align: left;
    margin: 5px 0 5px 0;
}
.float_right_group{
    padding-left: 25px;
}
.privat_right,.privat_image{
   display: inline-block;
}
.tariff_right{
    padding-left: 15px;
}
.tariff.tariff_large .tariff_right,.tariff.tariff_large .tariff_left{
    width: auto;
    max-width: 100%;
    padding: 5px;
}
.tariff.tariff_large .tariff_left .float_right_group{
    padding-left: 0;
}
.tariff.tariff_large .tariff_right .privat_right{
    margin-bottom: 55px;
}
.tariff.tariff_large .tariff_right .payment_button button{
    text-align: center;
    padding: 5px 30px;
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #fff;
    background: #33770b;
    border: #000 solid 1px;
    box-shadow: 3px 3px 3px rgba(0,0,0,1);
    margin: 0 auto 15px auto;
}
.tariff.tariff_large .tariff_bottom div:first-child{
    font-size: 14px;
    font-family: 'RalewayBold',sans-serif;
    color: #000;
    text-align: center;
    margin: 20px 0 35px 0;
}
.tariff.tariff_large .tariff_bottom div{
    text-align: center;
}
.privat_group {
    margin-bottom: 24px;
}
#myModal_add_site .modal-footer{
    display: block;
    border-top: none;
    text-align: center;
}
#myModal_add_site .modal-footer .getcounter{
    padding: 5px;
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #fff;
    background: #990000;
    border: #000 solid 1px;
    box-shadow: 3px 3px 3px rgba(0,0,0,1);
}
.payment_button button{
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #fff;
    background: #33770b;
    border: #000 solid 1px;
    box-shadow: 3px 3px 3px rgba(0,0,0,1);
    margin:0 auto 15px auto;
}
/*__________________________________________________________________________________________________*/

.tabs {
    width: 100%;
    background: #fff;
    margin: 25px auto 30px auto;
}
.tabs__caption {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom:none;
    background: #fff;
}
.tabs__caption li {
    text-align: center;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    text-transform: uppercase;
    float: left;
    display: inline;
    margin: 0 8px -1px 0;
    padding: 0 30px 1px;
    color: #000;
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    position: relative;
}
.tabs__caption li:hover,.tabs__caption li:after:hover,
.vertical .tabs__caption li:hover {
    color: #000;
    background: #cccccc;
    border: 1px solid #000;
    padding: 0 30px 1px;
}
.tabs__caption .active {
    color: #444;
    background: #fff;
    padding: 0 30px 1px;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
}
.tabs__content {
    display: none;
    border: none;
    background: #fff;
    padding:20px;
}
.tabs__content.active {
    display: block;
    border-top: none;
}
.text {
    float: right;
    width: 300px;
}
.tabs_title{
    text-align: center;
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #000;
    text-transform: uppercase;
}

.payment_tabs ul li span{
    text-transform: none;
    padding-left: 5px;
}
.trans {
    position: relative;
    background: #fff;
    color: #fff;
    display: inline-block;
    margin-left: 3px;
    list-style: none;
}
.trans.active, .trans.active:after {
    background: #cccccc;
    z-index: 5;
    border-right: 1px #000 solid;
}
.trans:after{
    content: '';
    position: absolute;
    right: -7px;
    top: 0;
    bottom: 0;
    width: 23px;
    height: 27px;
    background: #fff;
    -webkit-transform: skewX(24deg);
    -moz-transform: skewX(24deg);
    -ms-transform: skewX(24deg);
    -o-transform: skewX(24deg);
    transform: skewX(24deg);
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
}
.tarif{
    text-align: center;
}
.tarif_plan{
    display: inline-block;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 200px;
    height: 180px;
}
.tarif_plan .title{
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #000;
    padding: 10px;
}
.subscribe{
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    font-style: italic;
    color: #000;
    padding: 10px;
}
.price{
    text-align: center;
}
.price > div{
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #e02b01;
}
.price_image{
    position: relative;
    width: 100px;
    height: 25px;
    margin:10px auto;

}
.price_image img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
/*______________________________________________________________________________________________*/

.dashboard{
    float: left;
}
.dashboard ul{
    display: block;
    margin: 15px 0;
}
.dashboard ul li{
    list-style: none;
    float: left;
    display: block;
    font-size: 15px;
}
.dashboard ul li a{
    font-size: 15px;
}
.dashboard ul li:nth-child(1){
    padding: 0 10px;
}
.dashboard ul li:before{
    content:"|";
    color: #000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    padding: 0 10px;
 }
.dashboard ul li:first-child:before,.dashboard ul li:nth-child(2):before{
  display: none;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #03c4eb;
    border-color: #03c4eb;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

/*______________________________________________________________________________________________*/

.user_set_login{

}
.user_set_login div{
    display: block;
    margin-bottom: 10px;
}
.user_set_login label{
    text-align: right;
    margin-right: 15px;
    width: 115px;
    font-size: 17px;
}
.user_set_login input,.user_set_login select{
    width: 75%;
    border: 1px solid #000;
    padding: 5px;
}
.edit a{
    font-size: 17px;
    display: block;
}
.edit a:before{
    content: "|";
    font-size: 17px;
    padding: 0 10px;
    color: #000;
}

/*______________________________________________________________________________________________*/

.vertical_tab{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    font-weight: bold;
    font-size: 17px;
}
.vertical_tab th{
    padding: 5px;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 15px;
    font-family: 'RalewayRegular',sans-serif;
}

.vertical_tab .last{

    background: url("../images/logo_linox.png")no-repeat center;
}

.vertical_tab .first{
    background: #cccccc!important;
}
.vertical_tab tr:nth-child(even){
    background: #eeeeee;
}
.summary{
    border: 1px #000 solid;
    text-align: left;
    width: 100%;
}

.summary td{
    border: 1px solid #c1dad7;
    color: #cf0000;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
    padding: 5px;
}
.summary_title{
    color: #000!important;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
.summary span{
    color: #000!important;
    font-size: 15px;
    font-family: 'RalewayBold',sans-serif;
}
.summary .fon{
    background: #ffffdd;
}
.summary .count:after{
    content: "/";
    color: #000;
}
.visitors_menu ul{
    margin: 0;
    padding: 0;
}
.visitors_menu ul li{
    display: block;
    float: left;
}
.visitors_menu ul li a{
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
}
.visitors_menu ul li:after{
    content: "|";
    color: #000;
    font-size: 17px;
    font-family: 'RalewayBold',sans-serif;
    margin: 0 10px;;
}
.visitors_menu ul li:last-child:after{
    display: none;
}
.visitors_title{
    font-family: 'RalewayBold',sans-serif;
    font-size: 20px;
    color: #000;
}

.url_site button{
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    background: #03c4eb;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
}

.url_site .url_site_title,.url_site select,.url_site button{
    float: left;
}
.url_site .url_site_title{
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    margin-right: 10px;
    font-family: 'RalewayBold',sans-serif;
}
.url_site select{
    font-family: 'RalewayBold',sans-serif;
    font-size: 20px;
    color: #000;
    outline: none;
    border: none;
    margin-right: 25px;
}
.url_site{
     margin-left: 242px;
}
/*______________________________________________________________________________________________*/

.ac-container{
    width: 20%;
    margin: 10px auto 30px auto;
    text-align: left;
    float: left;
}
.ac-container div article{
    position: absolute;
    right: 0;
    width: 78%;
    top: 0;
}
.ac-container .ac_left_label{
    font-family: 'RalewayBold',sans-serif;
    padding: 0 10px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #000;
    /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
    line-height: 33px;
    font-size: 14px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    1px 0px 0px 0px rgba(255,255,255,0.9) inset,
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
    background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #03c4eb;
    color: #fff;
    /*text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);*/
    box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}
.ac-container .ac_left_input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    /*box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
}
.ac-container input:checked ~ article.ac-small{
    height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: auto;
    margin-bottom: 15px;

}
.ac-container div .ac_left_label{
    float: none;
}

/*______________________________________________________________________________________________*/

.ac-large .domain{
    margin-top: 25px;
}
.ac-large .domain .domain_1 label{
     font-family: 'RalewayBold',sans-serif;
     padding: 0 5px;
     display: inline-block;
     height: 30px;
     cursor: pointer;
     color: #000;
     line-height: 30px;
     font-size: 13px;
     background: #ffffff;
     width: 100px!important;
}
.ac-large .domain .domain_1 input{
    display: inline-block;
    width: 50%;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
}
.ac-large .domain .domain_1 span{
    display: inline-block;
}
.ac-large .domain .domain_1 span a{
    font-family: 'RalewayBold',sans-serif;
    font-size: 13px;
}
.ac-large .domain .domain_1 span:before{
    content: "|";
    font-family: 'RalewayBold',sans-serif;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}
.ac-large .domain .domain_2{
    margin-top: 20px;
}
.ac-large .domain .domain_2 .form-group label{
    width: 100px;
    font-family: 'RalewayRegular',sans-serif;
    padding: 0 5px;
    display: inline-block;
    height: 25px;
    cursor: pointer;
    color: #000;
    line-height: 25px;
    font-size: 13px;
}
.ac-large .domain .domain_2 .form-group label span{
    color: #cc3349;
    font-family: 'RalewayRegular',sans-serif;
}
.ac-large .domain .domain_2 .form-group select{
    width: 50%;
    height: 25px;
    line-height: 25px;
    font-family: 'RalewayRegular',sans-serif;
    padding: 0 5px;
    outline: none;
    border: #000 1px solid;
    border-radius: 0;
}
.counter_code{
    text-align: center;
}
.counter_code button {
    font-size: 18px;
    font-family: 'RalewayBold',sans-serif;
    color: #fff;
    background: #990000 url(../images/arrow-reload.png)no-repeat 5px;
    padding: 5px 5px 5px 35px;
    border: #000 solid 1px;
    box-shadow: 3px 3px 3px rgba(0,0,0,1);
    margin: 15px auto;
}
.forma_counter_code{
    text-align: center;
}
.forma_counter_code div > label{
    float: left;
    text-align: left;
    width: 175px;
    margin-right: 10px;
}
.forma_counter_code div textarea{
   float: left;
    width: 70%;
}
/*______________________________________________________________________________________________*/

.domain .domain_1.pages div > input{
    width: 30%;
}
.domain .domain_1.pages div > label{
    width: auto!important;
}
.domain .domain_1.pages div div {
    display: inline-block;
    text-align: center;
}
.domain .domain_1.pages .add_page a{
    display: block;
    padding: 25px 10px;
}
/*______________________________________________________________________________________________*/
@media (max-width:1200px) {
    .info_container {
        position: relative;
        max-width: 790px;
        margin:auto!important;
        background: #f7f7f7;
    }
    .info_left, .info_middle, .info_right {
        display: inline-block;
        margin: 0 15px;
    }
}

@media (max-width:992px) {
    .summary td {
        border: 1px solid #c1dad7;
        color: #cf0000;
        font-size: 11px;
        font-family: 'RalewayBold',sans-serif;
        padding: 5px;
    }
    .summary span {
        color: #000!important;
        font-size: 11px;
        font-family: 'RalewayBold',sans-serif;
        display: block;
    }
    .user_set_login {
        width: 100%;
    }

    .info_container {
        position: relative;
        max-width: 546px;
        margin: auto!important;
        background: #f7f7f7;
    }

     .features_block_left,.features_block_right {
        border: #9b9b9b 3px solid;
        border-radius: 20px;
        width: 400px;
        height: 100%;
        position: relative;
        float: none;
        margin:15px auto;
    }
    .header .title {
        font-family: 'RalewayRegular',sans-serif;
        font-size: 21px;
        color: #333333;
        text-transform: uppercase;
        float: right;
        padding: 0;
    }
    .header_top_menu{
        display: none;
    }
}
@media (max-width:867px){
    .forma_counter_code div > label {
        float: none;
        text-align: center;
        width: 50%;
        margin:15px 0;
    }
    .forma_counter_code div textarea {
        float: none;
        width: 70%;
    }
}
@media (max-width:760px) {
    .vertical_tab th {
        padding: 5px;
        text-align: center;
        border-right: 1px solid black;
        border-left: 1px solid black;
        font-size: 12px;
        font-family: 'RalewayRegular',sans-serif;
    }
    .url_site button {
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        background: #03c4eb;
        border: none;
        outline: none;
        border-radius: 5px;
        color: #fff;
    }
    .url_site select {
        font-family: 'RalewayBold',sans-serif;
        font-size: 17px;
        color: #000;
        outline: none;
        border: none;
        margin-right: 25px;
    }
    .url_site .url_site_title {
        text-transform: uppercase;
        font-size: 17px;
        color: #000;
        margin-right: 10px;
        font-family: 'RalewayBold',sans-serif;
    }
    .ac-container{
        width: 100%;
        margin: 10px auto 30px auto;
        text-align: left;
        float: none;
    }
    .ac-container div article {
        position: relative;
        width: auto;
    }
    .url_site {
        margin-left: 0;
    }
    .vertical .tabs__caption {
        width: 100%;
        float: none;
        display: block;
        margin: auto;
    }

    .why_menu{
        max-width: 360px;
        margin: auto;
    }
    .why_left,.why_right{
        float: none;
    }
}
@media (max-width:720px) {
    .tariff.tariff_large .tariff_left{
        float: none;
        margin: 0 auto 0 auto;
        border-right: none;
        width: 100%;
        border-bottom: #000 1px solid;
    }
    .tariff.tariff_large .tariff_right .privat_right {
        margin-bottom: 0;
    }
    .tariff.tariff_large .tariff_left .tariff_soseti{
       text-align: center;
    }
    .tariff.tariff_large .tariff_right{
        float: none;
        margin: 25px auto 0 auto;
        border-bottom: none;
        width: 100%;
    }
    .tariff.tariff_large .tariff_right .privat_group{
        margin-bottom: 0;
    }
    .tariff.tariff_large .tariff_bottom div:first-child {
        font-size: 14px;
        font-family: 'RalewayBold',sans-serif;
        color: #000;
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .tariff.tariff_large .float_right_group .soseti_like_group .like_image{
        display: inline-block;
        float: none;

    }
    .tariff.tariff_large .float_right_group .soseti_like_group .social-likes{
        vertical-align: baseline!important;
    }
    .searh input {
        width: 70%;
        border-radius: 5px;
        height: 30px;
        outline: none;
        border: #333 1px solid;
        padding: 5px;
    }
    .user_set_login {
        width: 100%;
        margin: auto;
    }
    .why ul li {
        list-style: none;
        display: block;
        color: #000;
        font-size: 18px;
        font-family: 'RalewayBold',sans-serif;
        position: relative;
    }
    .user_set_login input, .user_set_login select {
        width: 100%;
        border: 1px solid #000;
        padding: 5px;
    }
    .user_set_login label {
        text-align: center;
        margin-right: 15px;
        width: 100%;
    }
}
@media (max-width:615px){
    .info_container {
        position: relative;
        max-width: 315px;
        margin: auto!important;
        background: #f7f7f7;
    }
}
@media (max-width:602px){
    .tabs__caption li {
        text-align: center;
        font-size: 10px;
        font-family: 'RalewayBold',sans-serif;
        text-transform: uppercase;
        float: left;
        display: inline;
        margin: 0 8px -1px 0;
        padding: 0 30px 1px;
        color: #000;
        cursor: pointer;
        background: #fff;
        border: 1px solid #000;
        position: relative;
    }
}
@media (max-width:587px) {
    .header .title {
        font-family: 'RalewayRegular',sans-serif;
        font-size: 20px;
        color: #333333;
        text-transform: uppercase;
        float: none;
        padding: 0;
        text-align: right;
    }
}
@media (max-width:550px) {
    .myModal_social_network{
        padding-left: 0;
    }
    .tariff_left{
        float: none;
        margin: auto;
        border-right:none;
        border-bottom:#000 1px solid ;
        padding-bottom: 20px;
    }
    .tariff_right{
        float: none;
        margin: 25px auto 0 auto;
        border-bottom:#000 1px solid ;
        padding-bottom: 20px;
    }
    .searh input {
        width: 62%;
        border-radius: 5px;
        height: 30px;
        outline: none;
        border: #333 1px solid;
        padding: 5px;
    }
    #myModal_reg > .modal-dialog > .modal-content {
        padding: 15px 15px;
        background: #b6d7a8;
    }
}
@media (max-width:502px){
    .visitors_menu ul li:after {
        content: "|";
        color: #000;
        font-size: 11px;
        font-family: 'RalewayBold',sans-serif;
        margin: 0 5px;
    }
    .visitors_menu ul li a {
        font-size: 11px;
        font-family: 'RalewayBold',sans-serif;
    }
    .tabs__caption li:after {
        display: none;
    }
    .tabs__caption li{
        display: inline-block;
        width: 250px;
        margin:5px auto;
    }
    .tabs__caption {
        height: 28px;
        line-height: 25px;
        list-style: none;
        border-bottom: none;
        background: #fff;
        max-width: 250px;
        margin: auto;
    }
    .header_log .widht_100_xs{
        width: 100%;
    }
    .header_log .logo {
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        float: none;
        margin: auto;
    }
    .header_log .title{
        text-align: center;
    }
}
@media (max-width:478px) {
    .domain .domain_1.pages div div {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .domain .domain_1.pages div > input {
        width: 35%;
    }
    .domain .domain_1.pages div div span:first-child:before{
        display: none;
    }

    .favorit {
        height: 160px;
        width: 260px;
        overflow-y: auto;
        float: none;
        border: 1px solid #000000;
        padding: 10px;
        margin: 0 auto 20px auto;
    }
    #addfav {
        width: 180px;
        height: 160px;
        border: 1px #000 solid;
        color: #000;
        font-size: 20px;
        font-family: 'RalewayRegular',sans-serif;
        background: #f6f6f6;
        margin: auto;
        display: block;
    }
}
@media (max-width:465px){
    .myModal_social_network input,.myModal_social_network label,.form-group select,.myModal_add_site input{
        width: 100%!important;
    }
    .ac-large .domain .domain_1 span:before {
        content: "|";
        font-family: 'RalewayBold',sans-serif;
        color: #000;
        font-size: 13px;
        margin: 0 4px;
    }
    .ac-large .domain .domain_1 span a {
        font-family: 'RalewayBold',sans-serif;
        font-size: 13px;
        display: inherit;
        line-height: 25px;
    }
    .ac-large .domain .domain_1 input {
        display:block;
        width: 100%;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        outline: none;
    }
}
@media (max-width:420px) {
    .searching_results{
        margin-bottom: 15px;
    }
    .forma_counter_code div > label {
        float: none;
        text-align: center;
        width: 100%;
        margin: 15px 0;
    }
    .features_block_left .features_block_left_img .images, .features_block_right .features_block_right_img .images {
        overflow: hidden;
        display: block;
        margin-left: 10px;
    }
    .features_block_left .images .img, .features_block_right .features_block_right_img .images .img {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    .features_block_left, .features_block_right {
        border: #9b9b9b 3px solid;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: relative;
        float: none;
        margin: 15px auto;
    }
    .images_title {
        color: #000;
        font-size: 30px;
        font-family: 'RalewayBold',sans-serif;
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
    .widht_100_xs,.widht_respons {
        width: 100%;
    }
    .header_log > .widht_respons{
        width: 75%!important;
    }
    .logo {
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        float: none;
        margin: auto;
    }
    .header .title {
        font-family: 'RalewayRegular',sans-serif;
        font-size: 15px;
        color: #333333;
        text-transform: uppercase;
        float: none;
        padding: 0;
        text-align: center;
    }
    .material-menu-button {
        cursor: pointer;
        display:block;
        width:45px;
        height:45px;
        padding:10px 10px 0 10px;
        margin-top: -35px;
        /*background-color:#000;*/
    }
    .header_log .material-menu-button{
        cursor: pointer;
        display: block;
        width: 45px;
        height: 45px;
        padding: 10px 10px 0 10px;
        margin-top: 7px;
    }
    .header_log .searh button {
        width: 60px;
        height: 30px;
        background: #03c4eb;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 5px;
    }
}
@media (max-width:400px){
    .subscribe form input {
        background: #333333;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
    }
    .subscribe form button {
        background: #03c4eb;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        width: 100%;
    }

}
@media (max-width:335px){
    .features_block_left .teazer, .features_block_right .teazer {
        color: #03c4eb;
        font-size: 25px;
        font-family: 'RalewayRegular',sans-serif;
        text-align: center;
        margin-top: 15px;
    }
    .features_block_left .images .img, .features_block_right .features_block_right_img .images .img {
        width: 80px;
        height: 100px;
        overflow: hidden;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    .searh input {
        width: 59%;
        border-radius: 5px;
        height: 30px;
        outline: none;
        border: #333 1px solid;
        padding: 5px;
    }
}


